/* generics */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: #4ea0fd;
    background-size: 20%;
    background-position: top;
}

.logo {
    width: 200px;
    position: relative;
    left: 10px;
    top: 40px;
}

/* main */

main {
    padding: 0px 5px;
    margin-bottom: 20px;
}

.main-title-photos {
    margin: 20px 0;
}

address {
    font-style: normal;
    color: gray;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.address-booleaner {
    color: #4ea0fd;
}

.address-small {
    font-size: 13px;
}

.captions {
    font-size: 13px;
}

.highlighted-text {
    background-color: yellow;
}

ul {
    margin: 20px 0 20px 20px;
}

table {
    margin-bottom: 20px;
}

thead {
    background-color: #4ea0fd;
    text-align: left;
    color: white;
}

th, td {
    padding: 5px;
}

.th-short-text{
    width: 25%;
}

.th-long-text{
    width: 50%;
}

.tr-colored {
    background-color: lightblue;
}

/* footer */

footer {
    padding: 0 5px;
}

h4 {
    color: gray;
}

.suggested-top, .suggested-bottom {
    width: 300px;
    height: 200px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 0 20px;
}

.suggested-top {
    background-image: url(../img/monitor.jpg);
    margin: 10px 0;
}

.suggested-bottom {
    background-image: url(../img/graph.jpg);
    margin-bottom: 30px;
}